<h2 id="color">
  Color
</h2>
<ul>
  <li>
    <i>model</i> will be <code>string</code> or <code>null</code>
  </li>
</ul>
<form #form1="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <res-form-settings [form]="form1"></res-form-settings>
    <fieldset class="word-break-all">
      <legend>⭐ fieldset</legend>
      <fc-color
        [(ngModel)]="example1"
        name="example1"
        [label]="example1Label"
        [disabled]="isExample1Disabled"
        [required]="isExample1Required"
      ></fc-color>
    </fieldset>
    <res-model-viewer
      [(model)]="example1"
      [modelItems]="['5C4DFF', 'ZYTAFF']"
      [(label)]="example1Label"
      [(required)]="isExample1Required"
      [(disabled)]="isExample1Disabled"
      display="color"
    ></res-model-viewer>
  </fieldset>
</form>
<form #form2="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset disabled>
      <legend>
        ⭐ <u>disabled</u> fieldset
      </legend>
      <fc-color
        [(ngModel)]="example2"
        name="example2"
        [label]="example2Label"
        [disabled]="isExample2Disabled"
        [required]="isExample2Required"
      ></fc-color>
    </fieldset>
    <res-model-viewer
      [(model)]="example2"
      [modelItems]="['5C4DFF', 'ZYTAFF']"
      [(label)]="example2Label"
      [(required)]="isExample2Required"
      [(disabled)]="isExample2Disabled"
      display="color"
    ></res-model-viewer>
  </fieldset>
</form>
