<h2 id="color">
  <code>fc-color</code>
</h2>
<!-- <h4>todo</h4>
<ul>
  <li>text mask for #______</li>
  <li>support for up/down keys</li>
</ul> -->
<form #form1="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <fieldset class="word-break-all">
      <legend>⭐ fieldset</legend>
      <fc-color
        label="example 1"
        [(ngModel)]="example1"
        name="example1"
        [placeholder]="example1Placeholder"
        [disabled]="isExample1Disabled"
        [required]="isExample1Required"
      ></fc-color>
    </fieldset>
    <fieldset>
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>
        {{example1 | json}}
      </code>
    </fieldset>
    <fieldset>
      <legend>⚙️ options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExample1Disabled"
          name="isExample1Disabled"
        />
        disabled
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExample1Required"
          name="isExample1Required"
        />
        required
      </label>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="example1 = '5C4DFF'"
      >
        set <i>model</i> to <code>{{'5C4DFF' | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1 = 'ZYTAFF'"
      >
        set <i>model</i> to <code>{{'ZYTAFF' | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1Placeholder = '00FF00'"
      >
        set <b>placeholder</b> to <code>{{'00FF00' | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1Placeholder = null"
      >
        set <b>placeholder</b> to <code>{{null | json}}</code>
      </button>
      <button
        type="button"
        (click)="form1.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>🔍 form status</legend>
      {{form1.valid === true ? '🆗 valid' : '❗ not valid'}}
      <br />
      {{form1.invalid ? '❗ invalid' : '🆗 not invalid'}}
    </fieldset>
  </fieldset>
</form>
<br />
<form #form2="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset disabled>
      <legend>
        ⭐ <u>disabled</u> fieldset
      </legend>
      <fc-color
        label="example 2"
        [(ngModel)]="example2"
        name="example2"
        [required]="isExample2Required === true"
      ></fc-color>
    </fieldset>
    <fieldset>
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>
        {{example2 | json}}
      </code>
    </fieldset>
    <fieldset>
      <legend>⚙️ options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExample2Required"
          name="isExample2Required"
        />
        required
      </label>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="example2 = '5C4DFF'"
      >
        set <i>model</i> to <code>{{'5C4DFF' | json}}</code>
      </button>
      <button
        type="button"
        (click)="example2 = 'ZYTAFF'"
      >
        set <i>model</i> to <code>{{'ZYTAFF' | json}}</code>
      </button>
      <button
        type="button"
        (click)="form2.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>🔍 form status</legend>
      {{form2.valid === true ? '🆗 valid' : '❗ not valid'}}
      <br />
      {{form2.invalid ? '❗ invalid' : '🆗 not invalid'}}
    </fieldset>
  </fieldset>
</form>