<header class="d-flex gap-2 my-5 justify-content-between align-items-center">
  <div class="d-flex flex-column gap-2">
    <h1>Chaos Control</h1>
    <small>Angular Library</small>
  </div>
  <div class="d-flex gap-2">
    <a href="https://www.npmjs.com/package/@joster-dev/chaos-control">
      Package
    </a>
    <a href="https://github.com/joster-dev/chaos-control">
      Github
    </a>
  </div>
</header>
<div id="theme">
  <cc-choice
    [ngModel]="theme"
    (ngModelChange)="onChangeTheme($event)"
    [items]="themes"
  >
    Theme
  </cc-choice>
</div>
<demo-content></demo-content>
<div class="card">
  <h2 class="card-header d-flex gap-2 justify-content-between align-items-center">
    <span>Busy Spinner</span>
    <code>[ccBusy]</code>
  </h2>
  <div class="card-body">
    <div
      class="card"
      [ccBusy]="promise"
    >
      <div class="card-header d-flex gap-2 justify-content-between align-items-center">
        <h3>Busy Spinner</h3>
        <button
          class="br-start br-end"
          (click)="onClickPromiseSpinner()"
        >
          Add Spinner
        </button>
      </div>
      <div class="card-body">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Leo ex augue nec interdum aliquam vehicula placerat massa porttitor finibus hendrerit aenean tempor magna ex nulla phasellus lectus at porttitor fames feugiat conubia fames adipiscing habitant at dictum massa placerat fusce vestibulum cubilia suspendisse dis dis tortor platea fringilla enim mattis volutpat pretium fames dignissim in ligula metus hac nulla accumsan et efficitur sed sed fringilla blandit neque etiam dignissim dis per conubia dolor nam risus pretium facilisi porta est felis cras diam integer consectetur per parturient duis porttitor commodo nisl sociosqu mattis dignissim metus ornare massa nascetur iaculis varius.
      </div>
    </div>
    <div
      class="card"
      [ccBusy]="promise"
    >
      <div class="card-body">
        Spinner on item with not much height
      </div>
    </div>
    <div>
      <button
        class="br-start br-end"
        [ccBusy]="promise"
        (click)="onClickPromiseSpinner()"
      >
        Spinner on Button
      </button>
    </div>
  </div>
</div>
<form>
  <fieldset
    disabled
    class="card"
  >
    <h2 class="card-header">Disabled Fieldset</h2>
    <div class="card-body">
      <p>
        Inside a disabled fieldset, every control is disabled as expected
      </p>
      <demo-content></demo-content>
    </div>
  </fieldset>
</form>
<footer class="d-flex my-5 justify-content-end">
  <a href="https://joster-dev.github.io/">
    © Jacob Osterhout 2024
  </a>
</footer>