<h2>Integer</h2>
<ol>
  <li>
    <i>model</i> will be <b>number</b> or <b>null</b>
  </li>
  <li>
    <a href="https://floating-point-gui.de/">only use with integers</a>
  </li>
  <li>
    when <i>model</i> is <b>null</b>
    <ol>
      <li>Subtract button will set <i>model</i> to <u>min</u></li>
      <li>Add button will set <i>model</i> to <u>max</u></li>
    </ol>
  </li>
  <li>
    when <i>model</i> is less than <u>min</u>
    <ol>
      <li>Subtract button will be disabled</li>
      <li>Add button will set <i>model</i> to <u>min</u></li>
    </ol>
  </li>
  <li>
    when <i>model</i> is greater than <u>max</u>
    <ol>
      <li>Add button will be disabled</li>
      <li>Subtract button will set <i>model</i> to <u>max</u></li>
    </ol>
  </li>
</ol>
<h4>Inputs</h4>
<ul>
  <li>
    <u>disabled</u> can be an attribute, when specified it will be <b>boolean</b>. default is <b>false</b>
  </li>
  <li>
    <u>required</u> will be <b>boolean</b>. default is <b>false</b>
  </li>
  <li>
    <u>showNull</u> will be <b>boolean</b>. default is <b>false</b>
  </li>
  <li>
    <u>min</u> will be <b>number</b>. default is <b>0</b>
  </li>
  <li>
    <u>max</u> will be <b>number</b>. default is <b>9</b>
  </li>
  <li>
    <u>step</u> will be <b>number</b>. default is <b>1</b>
  </li>
</ul>
<form #form="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset>
      <legend>fieldset</legend>
      <fc-integer
        [(ngModel)]="default"
        label="default"
        name="default"
        [disabled]="isFormDisabled"
        [required]="isFormRequired"
        [showNull]="isFormShowNull"
      ></fc-integer>
    </fieldset>
    <fieldset>
      <legend>options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isFormDisabled"
          name="isFormDisabled"
        />
        disabled
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isFormRequired"
          name="isFormRequired"
        />
        required
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isFormShowNull"
          name="isFormShowNull"
        />
        show null
      </label>
    </fieldset>
    <fieldset>
      <legend>actions</legend>
      <fc-button (action)="setFormModels(0)">
        set <i>models</i> to <b>0</b>
      </fc-button>
      <fc-button (action)="setFormModels(-1)">
        set <i>models</i> to <b>-1</b>
      </fc-button>
      <fc-button (action)="setFormModels(10)">
        set <i>models</i> to <b>10</b>
      </fc-button>
      <fc-button (action)="form.reset()">
        form reset
      </fc-button>
    </fieldset>
    <fieldset>
      <legend>status</legend>
      {{form.valid ? '🆗 form valid' : '❗ form not valid'}}
    </fieldset>
  </fieldset>
</form>
<br />
<form #exampleForm="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset>
      <legend>fieldset</legend>
      <fc-integer
        [(ngModel)]="negative"
        name="negative"
        label="min is -10 & max is 10 & step is 2"
        [min]="-10"
        [max]="10"
        [step]="2"
        [disabled]="isExampleFormDisabled"
        [required]="isExampleFormRequired"
        [showNull]="isExampleFormShowNull"
      ></fc-integer>
      <br />
      <fc-integer
        [(ngModel)]="minError"
        name="minError"
        label="min is 5"
        [min]="5"
        [disabled]="isExampleFormDisabled"
        [required]="isExampleFormRequired"
        [showNull]="isExampleFormShowNull"
      ></fc-integer>
      <br />
      <fc-integer
        [(ngModel)]="maxError"
        name="maxError"
        label="min is -9 & max is -5"
        [min]="-9"
        [max]="-5"
        [disabled]="isExampleFormDisabled"
        [required]="isExampleFormRequired"
        [showNull]="isExampleFormShowNull"
      ></fc-integer>
    </fieldset>
    <fieldset>
      <legend>options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExampleFormDisabled"
          name="isExampleFormDisabled"
        />
        disabled
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExampleFormRequired"
          name="isExampleFormRequired"
        />
        required
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExampleFormShowNull"
          name="isExampleFormShowNull"
        />
        show null
      </label>
    </fieldset>
    <fieldset>
      <legend>actions</legend>
      <fc-button (action)="setExampleFormModels(0)">
        set <i>models</i> to <b>0</b>
      </fc-button>
      <fc-button (action)="exampleForm.reset()">
        form reset
      </fc-button>
    </fieldset>
    <fieldset>
      <legend>status</legend>
      {{exampleForm.valid ? '🆗 form valid' : '❗ form not valid'}}
    </fieldset>
  </fieldset>
</form>
<br />
<form #disabledFieldsetForm="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset disabled>
      <legend>
        <u>disabled</u> fieldset
      </legend>
      <fc-integer
        [(ngModel)]="disabledFieldset"
        name="disabledFieldset"
        label="default"
        [required]="isDisabledFieldsetFormRequired"
        [showNull]="isDisabledFieldsetFormShowNull"
      ></fc-integer>
    </fieldset>
    <fieldset>
      <legend>options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isDisabledFieldsetFormRequired"
          name="isDisabledFieldsetFormRequired"
        />
        required
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isDisabledFieldsetFormShowNull"
          name="isDisabledFieldsetFormShowNull"
        />
        show null
      </label>
    </fieldset>
    <fieldset>
      <legend>actions</legend>
      <fc-button (action)="setDisabledFieldsetFormModels(0)">
        set <i>model</i> to <b>0</b>
      </fc-button>
      <fc-button (action)="disabledFieldsetForm.reset()">
        form reset
      </fc-button>
    </fieldset>
    <fieldset>
      <legend>status</legend>
      {{disabledFieldsetForm.valid ? '🆗 form valid' : '❗ form not valid'}}
    </fieldset>
  </fieldset>
</form>
