<h3 id="text">
  Text
</h3>
<h4>Features</h4>
<ol>
  <li>
    <i>model</i> will be <code>string</code> or <code>null</code>
  </li>
  <li>
    if text content would overflow
    <ul>
      <li>
        height increases
      </li>
    </ul>
  </li>
  <li>
    if <i>model</i> is not <code>null</code>
    <ul>
      <li>
        control will have a shadow
      </li>
    </ul>
  </li>
  <li>
    if <i>model</i> is empty string <code>""</code>
    <ul>
      <li>
        control will be appear empty
      </li>
    </ul>
  </li>
  <li>
    if text content is empty
    <ul>
      <li>
        <i>model</i> will be <code>null</code>
      </li>
    </ul>
  </li>
  <li>
    if form is reset
    <ul>
      <li>height will be a single row</li>
    </ul>
  </li>
</ol>
<form #form1="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <fieldset>
      <legend>⭐ fieldset</legend>
      <fc-text
        [(ngModel)]="example1"
        label="example1"
        name="example1"
        [minlength]="example1Minlength"
        [maxlength]="example1Maxlength"
        [disabled]="isExample1Disabled"
        [required]="isExample1Required"
      ></fc-text>
    </fieldset>
    <fieldset class="word-break-all">
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>
        {{example1 | json}}
      </code>
    </fieldset>
    <fieldset>
      <legend>⚙️ options</legend>
      <label>
        disabled
        <input
          type="checkbox"
          [(ngModel)]="isExample1Disabled"
          name="isExample1Disabled"
        />
      </label>
      <br />
      <label>
        required
        <input
          type="checkbox"
          [(ngModel)]="isExample1Required"
          name="isExample1Required"
        />
      </label>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="example1 = testText"
      >
        set <i>model</i> to <code>{{testText | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1Minlength = 20"
      >
        set <b>minlength</b> to <code>{{20 | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1Minlength = 0"
      >
        set <b>minlength</b> to <code>{{0 | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1Maxlength = 80"
      >
        set <b>maxlength</b> to <code>{{80 | json}}</code>
      </button>
      <button
        type="button"
        (click)="example1Maxlength = 100"
      >
        set <b>maxlength</b> to <code>{{100 | json}}</code>
      </button>
      <button
        type="button"
        (click)="form1.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>🔍 form status</legend>
      {{form1.valid ? '🆗 valid' : '❗ not valid'}}
      <br />
      {{form1.invalid ? '❗ invalid' : '🆗 not invalid'}}
    </fieldset>
  </fieldset>
</form>
<br />
<form #form2="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <fieldset disabled>
      <legend>
        ⭐ <u>disabled</u> fieldset
      </legend>
      <fc-text
        [(ngModel)]="example2"
        name="example2"
        label="example 2"
        [minlength]="example2Minlength"
        [maxlength]="example2Maxlength"
        [required]="isExample2Required"
      ></fc-text>
    </fieldset>
    <fieldset class="word-break-all">
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>{{example2 | json}}</code>
    </fieldset>
    <fieldset>
      <legend>⚙️ options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isExample2Required"
          name="isExample2Required"
        />
        required
      </label>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="example2 = testText"
      >
        set <i>model</i> to <code>{{testText | json}}</code>
      </button>
      <button
        type="button"
        (click)="example2Minlength = 20"
      >
        set <b>minlength</b> to <code>{{20 | json}}</code>
      </button>
      <button
        type="button"
        (click)="example2Minlength = 0"
      >
        set <b>minlength</b> to <code>{{0 | json}}</code>
      </button>
      <button
        type="button"
        (click)="example2Maxlength = 70"
      >
        set <b>maxlength</b> to <code>{{70 | json}}</code>
      </button>
      <button
        type="button"
        (click)="example2Maxlength = 100"
      >
        set <b>maxlength</b> to <code>{{100 | json}}</code>
      </button>
      <button
        type="button"
        (click)="form2.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>🔍 form status</legend>
      {{form2.valid ? '🆗 valid' : '❗ not valid'}}
      <br />
      {{form2.invalid ? '❗ invalid' : '🆗 not invalid'}}
    </fieldset>
  </fieldset>
</form>