<header id="top">
  <h1>Form Control Documentation</h1>
  <a href="https://github.com/joster-dev/form-control/packages/322201">
    github v0.0.8
  </a>
  <h2>About</h2>
  <ul>
    <li>
      customizable predictable control over form elements
      <ul>
        <li>
          error messages when invalid model values are provided
        </li>
      </ul>
    </li>
    <!-- <li>
      accessible
      <ul>
        <li>passes WCAG AA standards</li>
      </ul>
    </li> -->
    <li>
      keyboard friendly
      <ul>
        <li>tab-index-able</li>
        <li>conforms to standard layout</li>
        <li>handles up and down keys for incrementing</li>
      </ul>
    </li>
    <!-- <li>
      touchscreen friendly
      <ul>
        <li>handles long-press for incrementing</li>
      </ul>
    </li> -->
    <!-- <li>
      visual indication for control statuses
      <ul>
        <li>error text when invalid</li>
      </ul>
    </li>
    <li>
      print friendly
      <ul>
        <li>always see selected value</li>
        <li>removal of borders for a clean print</li>
      </ul>
    </li> -->
  </ul>
</header>
<h2>Getting Started</h2>
<ol>
  <li>
    in your <a href="https://angular.io/">angular</a> project run
    <ul>
      <li>
        <code>npm install @joster-dev/form-control @joster-dev/icon --save</code>
      </li>
    </ul>
  </li>
  <li>
    in the module that utilizes these controls
    <ol>
      <li>
        import the dependency
        <ul>
          <li>
            <code>{{"import { FormControlModule } from '@joster-dev/form-control'"}}</code>
          </li>
        </ul>
      </li>
      <li>
        update your dependencies
        <ul>
          <li>
            <code>imports: [..., FormControlModule]</code>
          </li>
        </ul>
      </li>
    </ol>
  </li>
</ol>
<!-- <nav>
  <a href="#top">
    🔝
  </a>
  <a href="#button">
    Button
  </a>
  <a href="#choice">
    Choice
  </a>
  <a href="#multi-choice">
    Multi Choice
  </a>
  <a href="#text">
    Text
  </a>
  <a href="#color">
    Color
  </a>
</nav> -->
<h2>Examples</h2>
<res-text></res-text>
<res-number></res-number>
<res-choice></res-choice>
<res-multi-choice></res-multi-choice>
<res-color></res-color>
<res-button></res-button>
<res-file></res-file>
<!--
<res-select></res-select>
<res-date></res-date>
 -->
