<form #form="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <fieldset>
      <legend>
        🔍 form status
      </legend>
      <div class="col-1-1">
        <div>{{form.valid ? '🆗 valid' : '❗ not valid'}}</div>
        <div>{{form.invalid ? '❗ invalid' : '🆗 not invalid'}}</div>
      </div>
    </fieldset>
    <ng-content></ng-content>
    <fieldset class="word-break-all">
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>{{panel.self.key | json}}</code>
    </fieldset>
    <fieldset>
      <legend>
        🔍 code
      </legend>
      <code>{{codeHtml}}</code>
      <br />
      <br />
      <button
        type="button"
        (click)="isMoreCode = true"
      >
        More
      </button>
      <button
        type="button"
        (click)="isMoreCode = false"
      >
        Less
      </button>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <ng-container *ngFor="let value of panel.self.value">
        <button
          type="button"
          (click)="panel.self.key = value"
        >
          set <i>model</i> to <code>{{value | json}}</code>
        </button>
      </ng-container>
      <ng-container *ngFor="let action of panel.actions">
        <div *ngIf="action.value === true || action.value === false; else array">
          <button
            type="button"
            (click)="action.key = true"
          >
            set <b>{{action.display}}</b> to <code>{{true | json}}</code>
          </button>
          <button
            type="button"
            (click)="action.key = false"
          >
            set <b>{{action.display}}</b> to <code>{{false | json}}</code>
          </button>
        </div>
        <ng-template #array>
          <div>
            <ng-container *ngFor="let actionValue of action.value">
              <button
                type="button"
                (click)="action.key = actionValue"
              >
                set <b>{{action.display}}</b> to <code>{{actionValue | json}}</code>
              </button>
            </ng-container>
          </div>
        </ng-template>
      </ng-container>
      <button
        type="button"
        (click)="form.reset()"
      >
        form reset
      </button>
    </fieldset>
  </fieldset>
</form>
