<header>
  <h1>Toggle</h1>
  <p>Control value will be <b>boolean</b> or <b>null</b></p>
</header>
<form novalidate #form="ngForm">
  <fieldset>
    <legend>Default</legend>
    <fc-toggle [(ngModel)]="base" name="base">
      showNull = false | model = {{base === null ? 'null' : base}}
    </fc-toggle>
  </fieldset>
  <fieldset>
    <legend>Examples</legend>
    <fc-toggle [showNull]="true" [(ngModel)]="showNull" name="showNull">
      showNull = true | model = {{showNull === null ? 'null' : showNull}}
    </fc-toggle>
  </fieldset>
  <fieldset disabled>
    <legend>disabled fieldset</legend>
    <fc-toggle [(ngModel)]="disabled" name="disabled"></fc-toggle>
    <br><br>
    <fc-toggle [showNull]="true" [(ngModel)]="disabledShowNull" name="disabledShowNull"></fc-toggle>
  </fieldset>
  <fieldset>
    <legend>Validation</legend>
    <fc-toggle required disabled [(ngModel)]="requiredDisabled" name="requiredDisabled">
      required & disabled
    </fc-toggle>
    <br><br>
    <fc-toggle required [(ngModel)]="required" name="required">
      required
    </fc-toggle>
    <br><br>
    <fc-toggle required [showNull]="true" [(ngModel)]="requiredShowNull" name="requiredShowNull">
      required & showNull = true
    </fc-toggle>
  </fieldset>
</form>
<p *ngIf="form.valid === false">
  ❗ Form not valid
</p>
<p *ngIf="form.valid === true">
  🆗 Form valid
</p>
<footer>
  <button type="button" (click)="form.reset()">Reset</button>
</footer>