<header>
  <h1>Toggle</h1>
  <p>Control value will be <b>boolean</b> or <b>null</b></p>
</header>
<form novalidate #form="ngForm">
  <fieldset>
    <legend>default</legend>
    <fc-toggle [(ngModel)]="default" name="default">
      show null is false
    </fc-toggle>
  </fieldset>
  <br>
  <fieldset>
    <legend>examples</legend>
    <fc-toggle [(ngModel)]="showNull" name="showNull" [showNull]="true">
      show null is true
    </fc-toggle>
    <br><br>
    <fc-toggle disabled [(ngModel)]="disabled" name="disabled">
      disabled
    </fc-toggle>
    <br><br>
    <fc-toggle [(ngModel)]="disabledTrue" name="disabledTrue" [disabled]="true">
      disabled is true
    </fc-toggle>
    <br><br>
    <fc-toggle required [(ngModel)]="required" name="required">
      required
    </fc-toggle>
    <br><br>
    <fc-toggle required disabled [(ngModel)]="requiredDisabled" name="requiredDisabled">
      required & disabled
    </fc-toggle>
    <br><br>
    <fc-toggle required [(ngModel)]="requiredShowNull" name="requiredShowNull" [showNull]="true">
      required & show null is true
    </fc-toggle>
  </fieldset>
  <br>
  <fieldset disabled>
    <legend>disabled fieldset</legend>
    <fc-toggle [(ngModel)]="disabledFieldset" name="disabledFieldset"></fc-toggle>
  </fieldset>
</form>
<br>
<footer>
  {{form.valid ? '🆗 Form valid' : '❗ Form not valid'}}
  <fc-button (click)="form.reset()">Form Reset</fc-button>
</footer>