<header>
  <h1>Toggle</h1>
  <p>Control value will be <b>boolean</b> or <b>null</b></p>
</header>
<form novalidate #form="ngForm">
  <fieldset>
    <legend>Default</legend>
    <label for="base">showNull = false</label>
    <fc-toggle [(ngModel)]="base" name="base" id="base"></fc-toggle>
  </fieldset>
  Binding: {{base === null ? 'null' : base}}
  <br><br>
  <fieldset>
    <legend>Examples</legend>
    <label for="showNull">showNull = true</label>
    <fc-toggle [showNull]="true" [(ngModel)]="showNull" name="showNull" id="showNull"></fc-toggle>
  </fieldset>
  Binding: {{showNull === null ? 'null' : showNull}}
  <br><br>
  <fieldset disabled>
    <legend>disabled fieldset</legend>
    <fc-toggle [(ngModel)]="disabled" name="disabled"></fc-toggle>
    <br><br>
    <fc-toggle [showNull]="true" [(ngModel)]="disabledShowNull" name="disabledShowNull"></fc-toggle>
  </fieldset>
  <fieldset>
    <legend>Validation</legend>
    <label for="requiredDisabled">required & disabled</label>
    <fc-toggle required disabled [(ngModel)]="requiredDisabled" name="requiredDisabled" id="requiredDisabled">
    </fc-toggle>
    <br><br>
    <label for="required">required</label>
    <fc-toggle required [(ngModel)]="required" name="required" id="required"></fc-toggle>
    <br><br>
    <label for="requiredShowNull">required & showNull = true</label>
    <fc-toggle required [showNull]="true" [(ngModel)]="requiredShowNull" name="requiredShowNull" id="requiredShowNull">
    </fc-toggle>
  </fieldset>
</form>
<p *ngIf="form.valid === false">
  ❗ Form not valid
</p>
<p *ngIf="form.valid === true">
  🆗 Form valid
</p>
<footer>
  <button type="button" (click)="form.reset()">Reset</button>
</footer>