<header>
  <h2>Select</h2>
  <ol>
    <li>
      model will be string or number or null
    </li>
    <li>
      list input where the options do not interupt the page
    </li>
  </ol>
  <h4>Features</h4>
  <ol>
    <li>
      dropup instead of dropdown when close to bottom of window
    </li>
  </ol>
</header>
<form #form="ngForm">
  <fieldset>
    <legend>form</legend>
    <fc-select
      [(ngModel)]="default"
      label="default"
      name="default"
      [items]="defaultData"
      [required]="isFormRequired"
      [showNull]="isFormShowNull"
      [showIcon]="isFormShowArrow"
    ></fc-select>
    <br />
    <br />
    <fc-select
      [(ngModel)]="empty"
      label="empty"
      name="empty"
      [items]="emptyData"
      [required]="isFormRequired"
      [showNull]="isFormShowNull"
      [showIcon]="isFormShowArrow"
    ></fc-select>
    <br />
    <br />
    <fieldset>
      <legend>options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isFormRequired"
          name="isFormRequired"
        />
        required
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isFormShowNull"
          name="isFormShowNull"
        />
        show null
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isFormShowArrow"
          name="isFormShowArrow"
        />
        show arrow
      </label>
    </fieldset>
  </fieldset>
</form>
