<h3>Text</h3>
<h4>Features</h4>
<ol>
  <li>
    <i>model</i> will be <code>string</code> or <code>null</code>
  </li>
  <li>
    if <i>model</i> is not <code>null</code>
    <ul>
      <li>
        control will have a shadow
      </li>
    </ul>
  </li>
  <li>
    if <i>model</i> is set to empty string (<code>''</code>)
    <ul>
      <li>
        control will be appear empty
      </li>
    </ul>
  </li>
  <li>
    if text content would overflow
    <ul>
      <li>
        height increases
      </li>
    </ul>
  </li>
  <li>
    if text content is empty
    <ul>
      <li>
        <i>model</i> will be <code>null</code>
      </li>
    </ul>
  </li>
  <li>
    if form is reset
    <ul>
      <li>height will be a single row</li>
    </ul>
  </li>
  <li>
    <b>maxlength</b>
    <ol>
      <li>
        if <i>model</i> length would be greater than <b>maxlength</b>
        <ul>
          <li>
            <i>model</i> is <code>null</code>
          </li>
        </ul>
      </li>
    </ol>
  </li>
  <li>
    <b>minlength</b>
    <ol>
      <li>
        if <i>model</i> length would be less than <b>minlength</b>
        <ul>
          <li>
            <i>model</i> is <code>null</code>
          </li>
        </ul>
      </li>
    </ol>
  </li>
</ol>
<form #form="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset>
      <legend>default control</legend>
      <fc-text
        [(ngModel)]="default"
        label="label"
        name="default"
        [disabled]="isFormDisabled"
        [required]="isFormRequired"
      ></fc-text>
    </fieldset>
    <br />
    default control <i>model</i>:&nbsp;
    <ng-container [ngSwitch]="default">
      <code *ngSwitchCase="null">
        null
      </code>
      <span *ngSwitchDefault>
        {{default}}
      </span>
    </ng-container>
    <br />
    <br />
    <fieldset>
      <legend>options</legend>
      <label>
        disabled
        <input
          type="checkbox"
          [(ngModel)]="isFormDisabled"
          name="isFormDisabled"
        />
      </label>
      <br />
      <label>
        required
        <input
          type="checkbox"
          [(ngModel)]="isFormRequired"
          name="isFormRequired"
        />
      </label>
    </fieldset>
    <fieldset>
      <legend>actions</legend>
      <button
        type="button"
        (click)="setFormModels(testText)"
      >
        set <i>model</i> to <i>{{testText}}</i>
      </button>
      <button
        type="button"
        (click)="form.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>status</legend>
      {{form.valid ? '🆗 form valid' : '❗ form not valid'}}
    </fieldset>
  </fieldset>
</form>
<br />
<form #disabledFieldsetForm="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset disabled>
      <legend><u>disabled</u> fieldset</legend>
      <fc-text
        [(ngModel)]="disabledFieldset"
        name="disabledFieldset"
        label="default"
        [required]="isDisabledFieldsetFormRequired"
      ></fc-text>
    </fieldset>
    <fieldset>
      <legend>options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isDisabledFieldsetFormRequired"
          name="isDisabledFieldsetFormRequired"
        />
        required
      </label>
    </fieldset>
    <fieldset>
      <legend>actions</legend>
      <button
        type="button"
        (click)="setDisabledFieldsetFormModels(testText)"
      >
        set <i>model</i> to <b>{{testText}}</b>
      </button>
      <button
        type="button"
        (click)="disabledFieldsetForm.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>status</legend>
      {{disabledFieldsetForm.valid ? '🆗 form valid' : '❗ form not valid'}}
    </fieldset>
  </fieldset>
</form>
