<header>
  <h1>Text</h1>
  <h4>Todo</h4>
  <ul>
    <li>
      Height increases if the text would overflow
    </li>
  </ul>
</header>
<form #form="ngForm">
  <fieldset>
    <legend>form</legend>
    <fc-text [(ngModel)]="default" label="default" name="default" [required]="isFormRequired" [showNull]="isFormShowNull"></fc-text>
    <br />
    <fc-text disabled [(ngModel)]="disabled" label="disabled" name="disabled" [required]="isFormRequired" [showNull]="isFormShowNull"></fc-text>
    <br />
    <fieldset>
      <legend>options</legend>
      <label>
        <input type="checkbox" [(ngModel)]="isFormRequired" name="isFormRequired" />
        required
      </label>
      <br />
      <label>
        <input type="checkbox" [(ngModel)]="isFormShowNull" name="isFormShowNull" />
        show null
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>actions</legend>
      <fc-button (action)="setFormModels('test string xyz')">
        set <i>models</i> to <b>test string xyz</b>
      </fc-button>
      <fc-button (action)="form.reset()">
        form reset
      </fc-button>
    </fieldset>
    <br />
    <span>
      {{form.valid ? '🆗 form valid' : '❗ form not valid'}}
    </span>
  </fieldset>
</form>
