<h2 id="choice">
  Choice
</h2>
<ul>
  <li>
    <i>model</i> will be <code>primitive</code> or <code>null</code>
  </li>
</ul>
<form #form1="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset>
      <legend>⭐ fieldset</legend>
      <fc-choice
        label="example 1"
        [(ngModel)]="example1"
        name="example1"
        [disabled]="isExample1Disabled === true"
        [items]="data1"
        [required]="isExample1Required === true"
      ></fc-choice>
    </fieldset>
    <fieldset>
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>
        {{example1 | json}}
      </code>
    </fieldset>
    <fieldset>
      <legend>
        🔍 <u>items</u>
      </legend>
      <code>{{data1 | json}}</code>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="example1 = true"
      >
        set <i>model</i> to <code>true</code>
      </button>
      <button
        type="button"
        (click)="example1 = 8"
      >
        set <i>model</i> to <code>{{8 | json}}</code>
      </button>
      <br />
      <button
        type="button"
        (click)="isExample1Required = true"
      >
        set <b>required</b> to <code>{{true | json}}</code>
      </button>
      <button
        type="button"
        (click)="isExample1Required = false"
      >
        set <b>required</b> to <code>{{false | json}}</code>
      </button>
      <br />
      <button
        type="button"
        (click)="isExample1Disabled = true"
      >
        set <b>disabled</b> to <code>{{true | json}}</code>
      </button>
      <button
        type="button"
        (click)="isExample1Disabled = false"
      >
        set <b>disabled</b> to <code>{{false | json}}</code>
      </button>
      <br />
      <button
        type="button"
        (click)="form1.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>🔍 form status</legend>
      {{form1.valid === true ? '🆗 valid' : '❗ not valid'}}
      <br />
      {{form1.invalid ? '❗ invalid' : '🆗 not invalid'}}
    </fieldset>
  </fieldset>
</form>
<br />
<form #form2="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset disabled>
      <legend>
        ⭐ <b>disabled</b> fieldset
      </legend>
      <fc-choice
        label="example 2"
        [(ngModel)]="example2"
        name="example2"
        [items]="data2"
        [required]="isExample2Required === true"
      ></fc-choice>
    </fieldset>
    <fieldset>
      <legend>
        🔍 <i>model</i>
      </legend>
      <code>
        {{example2 | json}}
      </code>
    </fieldset>
    <fieldset>
      <legend>
        🔍 <u>items</u>
      </legend>
      <code>{{data2 | json}}</code>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="example2 = true"
      >
        set <i>model</i> to <code>true</code>
      </button>
      <br />
      <button
        type="button"
        (click)="isExample2Required = true"
      >
        set <b>required</b> to <code>{{true | json}}</code>
      </button>
      <button
        type="button"
        (click)="isExample2Required = false"
      >
        set <b>required</b> to <code>{{false | json}}</code>
      </button>
      <br />
      <button
        type="button"
        (click)="form2.reset()"
      >
        form reset
      </button>
    </fieldset>
    <fieldset>
      <legend>🔍 form status</legend>
      {{form2.valid === true ? '🆗 valid' : '❗ not valid'}}
      <br />
      {{form2.invalid ? '❗ invalid' : '🆗 not invalid'}}
    </fieldset>
  </fieldset>
</form>
