<h2 id="button">
  Button
</h2>
<form #form="ngForm">
  <fieldset>
    <legend>form</legend>
    <fieldset>
      <legend>⭐ fieldset</legend>
      <fc-button
        [isActive]="isActive === true"
        [isDisabled]="isDisabled === true"
        (clicked)="actions = actions + 1"
      >
        {{actions}} actions
      </fc-button>
    </fieldset>
    <fieldset>
      <legend>⚙️ options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isActive"
          name="isActive"
        />
        active
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isDisabled"
          name="isDisabled"
        />
        disabled
      </label>
    </fieldset>
    <fieldset disabled>
      <legend>
        ⭐ <u>disabled</u> fieldset
      </legend>
      <fc-button (clicked)="disabledFieldsetActions = disabledFieldsetActions + 1">
        {{disabledFieldsetActions}} actions
      </fc-button>
    </fieldset>
    <fieldset>
      <legend>⚙️ actions</legend>
      <button
        type="button"
        (click)="reset()"
      >
        reset
      </button>
    </fieldset>
  </fieldset>
</form>