<h3>Number</h3>
<form #form="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <fieldset>
      <legend>fieldset</legend>
      <fc-number
        [(ngModel)]="example1"
        name="example1"
        label="example 1"
        [disabled]="isExample1Disabled"
        [required]="isExample1Required"
      ></fc-number>
    </fieldset>
    <fieldset class="word-break-all">
      <legend><i>model</i></legend>
      <ng-container [ngSwitch]="example">
        <code *ngSwitchCase="null">
          null
        </code>
        <span *ngSwitchDefault>
          {{example}}
        </span>
      </ng-container>
    </fieldset>
    <fieldset>
      <legend>options</legend>
      <label>
        disabled
        <input
          type="checkbox"
          [(ngModel)]="isFormDisabled"
          name="isFormDisabled"
        />
      </label>
      <br />
      <label>
        required
        <input
          type="checkbox"
          [(ngModel)]="isFormRequired"
          name="isFormRequired"
        />
      </label>
    </fieldset>
  </fieldset>
</form>
