<h3>Button</h3>
<form #form="ngForm">
  <fieldset>
    <legend>form</legend>
    <fc-button
      [isActive]="isActive === true"
      [isDisabled]="isDisabled === true"
      (clicked)="actions = actions + 1"
    >
      {{actions}} actions
    </fc-button>
    <br />
    <fieldset>
      <legend>options</legend>
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isActive"
          name="isActive"
        />
        active
      </label>
      <br />
      <label>
        <input
          type="checkbox"
          [(ngModel)]="isDisabled"
          name="isDisabled"
        />
        disabled
      </label>
    </fieldset>
    <br />
    <fieldset>
      <legend>actions</legend>
      <button
        type="button"
        (click)="reset()"
      >
        reset
      </button>
    </fieldset>
    <br />
    <fieldset disabled>
      <legend>disabled fieldset</legend>
      <fc-button (clicked)="disabledFieldsetActions = disabledFieldsetActions + 1">
        {{disabledFieldsetActions}} actions
      </fc-button>
    </fieldset>
  </fieldset>
</form>
