<br />
<h1>Form Control Playground</h1>
<h2>Features</h2>
<ol>
  <li>
    accessible
    <ul>
      <li>passes WCAG AA standards</li>
    </ul>
  </li>
  <li>
    keyboard friendly
    <ul>
      <li>tab-index-able, conforms to standard layout</li>
    </ul>
  </li>
  <li>
    visual indication for control status
    <ul>
      <li>red shadow for control when invalid</li>
      <li>red asterisk (*) suffix for control label when required</li>
    </ul>
  </li>
  <li>
    print friendly
    <ul>
      <li>always see selected value</li>
      <li>borderless</li>
    </ul>
  </li>
</ol>
<nav>

</nav>
<pg-toggle></pg-toggle>
<br />
<br />
<pg-integer></pg-integer>
<br />
<br />
<pg-text></pg-text>
<br />
<br />
<pg-button></pg-button>
<br />
<br />
<br />
<br />
<pg-choice></pg-choice>
<br />
<br />
<pg-multi-choice></pg-multi-choice>
<br />
<br />
<pg-select></pg-select>
<br />
<br />
<pg-date></pg-date>
<br />
<br />
