<br />
<h1>Form Control Playground</h1>
<h2>Features</h2>
<ol>
  <li>
    accessible
    <ul>
      <li>passes WCAG AA standards</li>
    </ul>
  </li>
  <li>
    keyboard friendly
    <ul>
      <li>tab-index-able, conforms to standard layout</li>
    </ul>
  </li>
  <li>
    visual indication for control status
    <ul>
      <li>red * suffix on label when required</li>
    </ul>
  </li>
  <!-- <li>
    print friendly
    <ul>
      <li>always see selected value</li>
    </ul>
  </li> -->
</ol>
<nav>

</nav>
<pg-button></pg-button>
<br />
<br />
<pg-choice></pg-choice>
<br />
<br />
<pg-multi-choice></pg-multi-choice>
<br />
<br />
<pg-text></pg-text>
<br />
<br />
<pg-color></pg-color>
<br />
<br />
<pg-integer></pg-integer>
<br />
<br />

<!-- <pg-number></pg-number>
<br />
<br />
<pg-select></pg-select>
<br />
<br />
<pg-date></pg-date>
<br />
<br /> -->
