<h1 id="playground">
  Form Control Playground
</h1>
<h2>Features</h2>
<ol>
  <li>
    accessible
    <ul>
      <li>passes WCAG AA standards</li>
    </ul>
  </li>
  <li>
    keyboard friendly
    <ul>
      <li>tab-index-able, conforms to standard layout</li>
    </ul>
  </li>
  <li>
    visual indication for control status
    <ul>
      <li>red * suffix on label when required</li>
    </ul>
  </li>
  <!-- <li>
    print friendly
    <ul>
      <li>always see selected value</li>
    </ul>
  </li> -->
</ol>
<nav>
  <a href="#playground">
    🔝
  </a>
  <a href="#button">
    Button
  </a>
  <a href="#choice">
    Choice
  </a>
  <a href="#multi-choice">
    Multi Choice
  </a>
  <a href="#text">
    Text
  </a>
  <a href="#color">
    Color
  </a>
</nav>
<pg-button></pg-button>
<br />
<br />
<pg-choice></pg-choice>
<br />
<br />
<pg-multi-choice></pg-multi-choice>
<br />
<br />
<pg-text></pg-text>
<br />
<br />
<pg-color></pg-color>
<br />
<br />
<!-- <pg-integer></pg-integer>
<br />
<br /> -->
<!-- <pg-number></pg-number>
<br />
<br /> -->
<!-- <pg-select></pg-select>
<br />
<br />
<pg-date></pg-date>
<br />
<br /> -->
