<h2>&lt;jo-readonly&gt;</h2>
<jo-readonly [model]="ds.readonlyModel">
  {{ds.readonlyLabel}}
</jo-readonly>
<h2>&lt;jo-text&gt;</h2>
<div>
  <jo-text
    [(ngModel)]="ds.growingTextModel"
    [isGrow]="true"
  >
    growing Text
  </jo-text>
</div>
<div>
  <jo-text [(ngModel)]="ds.textModel">
    Text
  </jo-text>
</div>
<h2>&lt;jo-choice&gt;</h2>
<div>
  <jo-choice
    [(ngModel)]="ds.choiceModel"
    required
    [items]="ds.items"
  >
    Single Choice
  </jo-choice>
</div>
<div>
  <jo-choice
    [(ngModel)]="ds.multipleChoiceModel"
    required
    [items]="ds.longItems"
    isColumn
    isMultiple
  >
    Multiple Choice
  </jo-choice>
</div>
<div>
  <jo-choice
    [(ngModel)]="ds.longChoiceModel"
    required
    [items]="ds.longTextItems"
    isColumn
  >
    Choice with long text
  </jo-choice>
</div>
<h2>&lt;jo-select&gt;</h2>
<div>
  <jo-select
    [(ngModel)]="ds.selectModel"
    required
    [items]="ds.items"
  >
    Single Select
  </jo-select>
</div>
<div>
  <jo-select
    [(ngModel)]="ds.multipleSelectModel"
    required
    [items]="ds.longItems"
    isColumn
    isMultiple
  >
    Multiple Select
  </jo-select>
</div>
<div>
  <jo-select
    [(ngModel)]="ds.longSelectModel"
    [items]="ds.longTextItems"
    isColumn
  >
    Select with long text
  </jo-select>
</div>
<h2>&lt;jo-color&gt;</h2>
<div>
  <jo-color [(ngModel)]="ds.colorModel">
    Color label
  </jo-color>
</div>
<!-- todo: stop digit input from occurring when length > max -->
<!-- also handle . for decimals 🤔 -->
<h2>&lt;jo-number&gt;</h2>
<div>
  <jo-number
    [(ngModel)]="ds.numberModel"
    [max]="50"
  >
    Number
  </jo-number>
</div>
<h2>&lt;jo-file&gt;</h2>
<div>
  <jo-file [(ngModel)]="ds.fileModel">
    File
  </jo-file>
</div>
