<header>
    <h1>Button</h1>
</header>
<form #form="ngForm">
    <fieldset>
        <fc-button (action)="actions = actions + 1" [active]="isActive" [disabled]="isDisabled">
            {{actions}} actions
        </fc-button>
        <br><br>
        <fieldset>
            <label>
                <input type="checkbox" [(ngModel)]="isActive" name="isActive" />
                active
            </label>
            <br><br>
            <label>
                <input type="checkbox" [(ngModel)]="isDisabled" name="isDisabled" />
                disabled
            </label>
            <br><br>
            <fc-button (action)="reset()">reset button actions</fc-button>
        </fieldset>
    </fieldset>
    <br>
    <fieldset disabled>
        <legend>disabled fieldset</legend>
        <fc-button (action)="disabledFieldsetActions = disabledFieldsetActions + 1">
            {{disabledFieldsetActions}} actions
        </fc-button>
    </fieldset>
</form>