<h2>Number</h2>
<ul>
  <li>
    <i>model</i> will be <code>number</code> or <code>null</code>
  </li>
</ul>
<form #form1="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <res-form-settings [form]="form1"></res-form-settings>
    <fieldset>
      <legend>⭐ example</legend>
      <fc-number
        [(ngModel)]="example1"
        name="example1"
        [disabled]="isExample1Disabled"
        [required]="isExample1Required"
        [min]="example1Min"
        [max]="example1Max"
        [step]="example1Step"
      >{{example1Label}}</fc-number>
    </fieldset>
    <res-model-viewer
      [(model)]="example1"
      [modelItems]="[0, -1, 11, billion]"
      [(label)]="example1Label"
      [(required)]="isExample1Required"
      [(disabled)]="isExample1Disabled"
      [(min)]="example1Min"
      [minItems]="[0, 5]"
      [(max)]="example1Max"
      [maxItems]="[9, 100]"
      [(step)]="example1Step"
      [stepItems]="[1, 2, 3]"
      display="number"
    ></res-model-viewer>
  </fieldset>
</form>
<form #form2="ngForm">
  <fieldset class="min-width-auto">
    <legend>form</legend>
    <res-form-settings [form]="form2"></res-form-settings>
    <fieldset disabled>
      <legend>⭐ <b>disabled</b> fieldset</legend>
      <fc-number
        [(ngModel)]="example2"
        name="example2"
        [disabled]="isExample2Disabled"
        [required]="isExample2Required"
        [min]="example2Min"
        [max]="example2Max"
        [step]="example2Step"
      >{{example2Label}}</fc-number>
    </fieldset>
    <res-model-viewer
      [(model)]="example2"
      [modelItems]="[0, -1, 11, billion]"
      [(label)]="example2Label"
      [(required)]="isExample2Required"
      [(disabled)]="isExample2Disabled"
      [(min)]="example2Min"
      [minItems]="[0, 5]"
      [(max)]="example2Max"
      [maxItems]="[9, 100]"
      [(step)]="example2Step"
      [stepItems]="[1, 2, 3]"
      display="number"
    ></res-model-viewer>
  </fieldset>
</form>