<form novalidate #form="ngForm">
  <header>
    <h1>Small Number</h1>
    <p>Control value will be <b>number</b> or <b>null</b></p>
    <h3>Inputs</h3>
    <ul>
      <li>min = 0</li>
      <li>max = 9</li>
      <li>step = 1</li>
    </ul>
  </header>
  <fieldset>
    <fc-small-number [(ngModel)]="base" name="base">Label for small number</fc-small-number>
  </fieldset>
  <h4>min = -10 | max = 10 | step = 2</h4>
  <fieldset>
    <fc-small-number [min]="-10" [max]="10" [step]="2" [(ngModel)]="negative" name="negative"></fc-small-number>
  </fieldset>
  <h4>max = 3 | step = 0.1</h4>
  <p>⚠️ do not use with float</p>
  <fieldset>
    <fc-small-number [max]="3" [step]="0.1" [(ngModel)]="float" name="float"></fc-small-number>
  </fieldset>
  <h4>disabled = true</h4>
  <fieldset disabled>
    <fc-small-number [(ngModel)]="disabled" name="disabled"></fc-small-number>
  </fieldset>
  <h3>Validation</h3>
  <h4>min = 5</h4>
  <fieldset>
    <fc-small-number [min]="5" [(ngModel)]="invalid" name="invalid"></fc-small-number>
  </fieldset>
  <p *ngIf="form.valid === false">
    ❗ Form invalid
  </p>
  <p *ngIf="form.valid === true">
    🆗 Form valid
  </p>
  <footer>
    <button type="button" (click)="form.reset()">Reset</button>
  </footer>
</form>