<header>
  <h1>Small Number</h1>
  <p>
    Control value will be <b>number</b> or <b>null</b>
    <br><br>
    <legend><a href="https://floating-point-gui.de/">⚠️</a> do not use with floats</legend>
  </p>
</header>
<form #form="ngForm">
  <fieldset>
    <legend>Default</legend>
    <label for="base">min = 0 & max = 9 & step = 1</label>
    <fc-small-number [(ngModel)]="base" name="base" id="base"></fc-small-number>
  </fieldset>
  <fieldset>
    <legend>Examples</legend>
    <label for="negative">min = -10 & max = 10 & step = 2</label>
    <fc-small-number [min]="-10" [max]="10" [step]="2" [(ngModel)]="negative" name="negative" id="negative">
    </fc-small-number>
    <br>
    <br>
    <label for="large">max = 1000 & step = 25</label>
    <fc-small-number [max]="1000" [step]="25" [(ngModel)]="large" name="large" id="large"></fc-small-number>
  </fieldset>
  <fieldset disabled>
    <legend>disabled fieldset</legend>
    <fc-small-number [(ngModel)]="disabledFieldset" name="disabledFieldset"></fc-small-number>
  </fieldset>
  <fieldset>
    <legend>Validation</legend>
    <label for="disabled">disabled & min = 5</label>
    <fc-small-number disabled [min]="5" [(ngModel)]="disabled" name="disabled" id="disabled"></fc-small-number>
    <br>
    <br>
    <label for="minError">min = 5</label>
    <fc-small-number [min]="5" [(ngModel)]="minError" name="minError" id="minError"></fc-small-number>
    <br>
    <br>
    <label for="maxError">min = -9 & max = -5</label>
    <fc-small-number [min]="-9" [max]="-5" [(ngModel)]="maxError" name="maxError" id="maxError"></fc-small-number>
  </fieldset>
</form>
<p *ngIf="form.valid === false">
  ❗ Form not valid
</p>
<p *ngIf="form.valid === true">
  🆗 Form valid
</p>
<footer>
  <button type="button" (click)="form.reset()">Reset</button>
</footer>